version: 2.1

jobs:
  build-and-test:
    machine:
      image: ubuntu-2204:2024.01.2
    
    steps:
      - checkout
      
      - run:
          name: Install Dependencies (deps)
          command: make deps

      - run:
          name: Testing (test)
          command: make test

      - run:
          name: Build Docker Image (make docker_build)
          command: make docker_build

      - run:
          name: Push to Dockerhub
          command: |
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_LOGIN" --password-stdin
            make build_and_push