version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Dependencies (deps)
          command: make deps
      - run:
          name: Linting (lint)
          command: make lint
      - run:
          name: Testing (test)
          command: make test
      - run:
          name: Build Docker Image (docker_build)
          command: |
            docker build -t sokolowski01docker/se_flask_ci:latest .
      - run:
          name: Push to Dockerhub (docker_push)
          command: |
            # Logowanie i wypychanie obrazu
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_LOGIN" --password-stdin
            docker build -t sokolowski01/se_flask_ci:latest .
            docker push sokolowski01docker/se_flask_ci:latest

workflows:
  sample:
    jobs:
      - build-and-test
